

<ion-content [fullscreen]="true">
    
  <ng-container *ngFor="let pais of this.paises">

    <ion-col size="12" size-lg="4">
        <img src="{{ pais.flags.png }}" />
        <ion-item>
          <ion-label>
            <h2>{{ pais.name.common }}</h2>
          </ion-label>
        </ion-item>                                                                                                                                                                                                                                                                                 
      </ion-col>                         
  </ng-container>


    
</ion-content>
