.ajuste{
    width: 100px;
}

.mousehover:hover{
    cursor: pointer;
    & h2{
        color:pink;
        font-weight: 800;
        letter-spacing: 3;
        transition-duration: 1s;
    }
}

.banner{
    
        height: 70vh;
        width: auto;
        align-items: center;
        }
    
